:root {
  --bg-image: url('https://images.unsplash.com/photo-1531344288990-d5d5280e0352?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8ZGVlcCUyMGZvcmVzdHxlbnwwfHwwfHw%3D&w=1000&q=80');
  --logo: url('https://owu.com.ua/image/logo/Blue-Big-Bird-Final-Logo.png');
  --white-color: #ffffff;
  --dark-blue-color: #071045;
  --toggle-bgr: #ffffff;
  --nav-background: rgba(181, 203, 236, 0.27)
}

[data-theme="dark"] {
  --toggle-bgr: #0a21a0;
}
